Source: fortune-mod
Section: games
Priority: optional
Maintainer: Helmut Geyer <Helmut.Geyer@iwr.uni-heidelberg.de>
Standards-Version: 2.1.1.0

Package: fortune-mod
Architecture: any
Replaces: fortune
Provides: fortune
Recommends: fortunes
Conflicts: fortune
Depends: ${shlibs:Depends}
Description: Fortune cookies provided upon demand.
 These are the machine-dependent parts of the fortune package, i.e.
 the fortune program and the programs used for generating the data files.
 The fortune package displays epigrams selected randomly from a selection
 of fortune files. This is an enhanced version of the BSD program.
 The datafiles (which can be shared) are contained in the 'fortunes'
 package.

Package: fortunes
Architecture: all
Depends: fortune-mod
Description: Datafiles containing fortune cookies
 There are far over 15000 different 'fortune cookies' in this package,
 some of them of offensive character. These (or at least those clearly
 labelled so) can be removed on installation, if they are not wanted.  
 You'll need the fortune-mod package to display the cookies.
