#! /usr/bin/make -f
#
# Last Updated: Mon, 12 Jan 1998 22:20:04 -0800 by Brian Bassett

build: build-stamp
build-stamp:
	dh_testdir
	make
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	make clean
	rm -f build-stamp
	dh_clean

binary-indep:
# Nothing to build

# Build architecture-dependent files here.
binary-arch: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	make install-fortune install-util install-man \
                  prefix=$(shell pwd)/debian/tmp
	@cat fortune/fortune-man.part1 >fortune/fortune.man
	@echo "/usr/share/games/fortunes \- Directory for inoffensive fortunes" >>fortune/fortune.man
	@echo ".TP" >>fortune/fortune.man
	@echo "/usr/share/games/fortunes/off \- Directory for offensive fortunes" >>fortune/fortune.man
	@cat fortune/fortune-man.part2 >>fortune/fortune.man
	install -m 0644 -o root -g root \
	   fortune/fortune.man debian/tmp/usr/man/man6/fortune.6
	make install-cookie prefix=$(shell pwd)/debian/fortunes
	mv debian/fortunes/usr/share/games/fortunes/off debian/fortunes-off/usr/share/games/fortunes
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
#	dh_installinit
#	dh_installcron
	dh_installmanpages -pfortune-mod
#	dh_undocumented
	dh_installchangelogs ChangeLog
	dh_strip
	dh_compress
	dh_fixperms
	dh_suidregister
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
#	dh_makeshlibs
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary

# Local Variables:
# mode: makefile
# End:

